


.page-head {
    background-color: #2e2f42;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 188px 0;
    margin: 0 auto;
    max-width: 1440px;
}
.page-title {
    font-weight: 700px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto 48px;
}
.button-link {
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #4d5ae5;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-link:hover,
.button-link:focus {
    background-color: #404bbf;
}

.page-one {
    padding: 120px 0 120px;
}
.page-one-list {
    display: flex;
    gap: 24px;
    padding-bottom: 120px;
}
.page-one-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    height: 104px;
    width: calc((100% - 72px) / 4);
}
.container-one-div {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    padding: 24px 100px 24px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}
.page-one-inf {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.page-one-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.page-two {
    background-color: #f4f4fd;
    padding: 120px 0;
}
.page-two-inf {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.page-two-catalog {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.page-two-list {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.container-page-two {
    padding: 32px 0;
}
.page-two-user {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}
.page-two-user-work {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}
.list-page-two-link{
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 0 16px 0 16px;
}
.container-page-two-link {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container-page-two-link:hover,
.container-page-two-link:focus {
    background-color: #404bbf;
}
.page-three {
    padding: 120px 0;
}
.page-portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.page-portfolio-list {
    display: flex;
    row-gap: 48px;
    column-gap: 24px;
    flex-wrap: wrap;
}
.page-portfolio-catalog {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-portfolio-foto {
    position: relative;
    overflow: hidden;
}
.overlay {
    padding: 40px 32px;
    background-color: #4d5ae5;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-portfolio-catalog:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background-color: #fff;
}
.page-portfolio-catalog:hover .overlay {
    transform: translateY(0);
}
.page-portfolio-container {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}
.page-portfolio-inf {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.page-portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}
.footer-container {
    display: flex;
    align-items: baseline;
}
.footer-container-one {
    margin-right: 120px;
}
.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
}
.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}
.logo-span-footer {
    color: #f4f4fd;
}
.footer-text-two {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}
.list-page-footer {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.container-footer-link {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container-footer-link:hover,
.container-footer-link:focus {
    background-color: #31D0AA;
}
.footer-container-three {
    margin-left: 80px;
}
.footer-container-three p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}
.footer-form {
    display: flex;
    align-items: center;
    gap: 24px;
}
.footer-container-input {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 0 16px;
    background: transparent;
}
.footer-container-svg {
    margin-left: 16px;
}
.footer-container-btn {
    border-radius: 4px;
    min-width: 165px;
    height: 40px;
    background: #4d5ae5;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: left;
    color: #fff;
    margin: 0;
    padding: 8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1.5);
}
.modal-btn {
    padding: 0;
    line-height: 0;
    position: absolute;
    border-radius: 50%;
    background-color: #e7e9fc;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal-btn:hover,
.modal-btn:focus {
    background-color: #404bbf;
    fill: #FFFFFF;
    border: none;
}
.close-btn {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}
.modal-form-name {
    margin-bottom: 8px;
}
.form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}
.form-label-inp {
    position: relative;
}
.form-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
    border: 1px solid #4d5ae5;
}
.form-input-svg {
    position: absolute;
    top: 50%;
    left: 16px;
    fill: #2E2F42;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .form-input-svg {
    fill: #4D5AE5;
}
.form-textarea {
    margin-bottom: 16px;
}
.form-textarea-text {
    padding: 8px 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    outline: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea-text::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}
.form-textarea-text:focus {
    border: 1px solid #4d5ae5;
}
.checkbox-container {
    margin-bottom: 24px;
}
.custom-checkbox {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-label {
    cursor: pointer;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    fill: transparent;
}
.checkbox-label a {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}
.checkbox:checked + .checkbox-label .custom-checkbox {
    background-color: #404bbf;
    fill: #f4f4fd;
    border: transparent;
}
.form-btn {
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border: none;
    margin: 0 auto;
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-btn:hover,
.form-btn:focus {
    background-color: #404bbf;
}










